---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.state == 'draft' %}
  <div class="state">This is a draft, expect sudden changes and come back later</div>
{% elsif page.state == 'obsolete' %}
  <div class="state">This documentation is no longer valid, please see text for instructions</div>
{% endif %}

{% if page.tags %}
  <p class="tags">tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></p>
{% endif %}

{{content}}

{% if page.author and page.date %}
  <p class="view">—{{ page.author | default: site.author }}, {{ page.date | date: "%-d %B %Y" }}</p>
{% endif %}
